body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-comp-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#map-container {
  width: 100%;
}

.leaflet-control-attribution :nth-child(-n + 2) {
  display: none;
}

.leaflet-tooltip.zone-title {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  border: none;
  color: white;
  font-family: 'Open Sans', Roboto, sans-serif, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Helvetica Neue';
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.27px;
  font-weight: 600;
  font-style: italic;
  text-shadow: 1.5px 1.5px #202020;
}

.leaflet-tooltip.zone-title .container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}
